* {
  font-family: 'Inter', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  border-top: 1px solid #e8e8e8;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.flash-notice {
  text-align: center;
  margin-top: 10px;
  color: #008000;
}

.flash-alert {
  text-align: center;
  margin-top: 10px;
  color: #ff0000;
}