.top-bar {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
  background-color: #ffffff;
  height: 75px;
  align-items: center;
  z-index: 2;
  border-bottom: 1px solid #e8e8e8;
}

.top-bar-content {
  display: flex;
  width: 80%;
  margin: auto;
}

.top-bar ul {
  background-color: inherit;
}

.top-bar-left {
  font-size: 1.5em;
  letter-spacing: .5px;
  color: #000080;
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.logo {
  font-size: 1.1em;
}

.top-bar-left a {
  text-decoration: none;
  color: #000080;
  font-weight: 900;
}

.top-bar-left a:visited {
  color: #000080;
}

.top-bar-right {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.menu-link {
  display: flex;
  margin: auto;
  margin-left: 30px;
  font-size: .8em;
  letter-spacing: .25px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
  &.sign-up-link {
    padding: 10px 20px 8px;
    background-color: #29853a;
    border: 1px solid #3e904e;
    border-radius: 50px;
    & a {
      color: #ffffff;
    }
    & a:visited {
      color: #ffffff;
    }
    &:hover {
      background-color: #349f48;
      border: 1px solid #48a85b;
    }
  }
}

.menu-link a {
  padding: 0px;
  text-decoration: none;
  color: #171717;
}

.menu-link a:visited {
  color: #171717;
}

.dropdown li a {
  text-decoration: none;
}

.dropdown.menu li a {
  padding: 0px;
}

.small-avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
}