.new-portfolio-page {
  width: 450px;
  padding-top: 40px;
  margin: auto;
}

.header {
  font-size: 1.6em;
  font-weight: 700;
  color: #171717;
}

.description {
  font-size: .9em;
  font-weight: 400;
  color: #999999;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.new-portfolio-container {
  width: 300px;
  margin-top: 20px;
}

.button {
  font-weight: 700;
  font-size: 1em;
  margin: 0px;
  background-color: #29853a;
  border: 1px solid #3e904e;
  border-radius: 8px;
  padding: 12px 20px;
}
.button:hover, .button:focus {
  background-color: #349f48;
  border: 1px solid #48a85b;
  transition: none;
}
.form-label {
  padding-bottom: 5px;
  font-weight: 700;
  color: #333333;
  font-size: .9em;
}
.form-subtext {
  width: 450px;
  font-size: .9em;
  font-weight: 400;
  color: #999999;
  margin: 0px;
  padding-bottom: 0px;
  &.first {
    padding-bottom: 10px;
  }
  &.second {
    padding-bottom: 20px;
  }
}
.input {
  color: #333333;
  font-size: .85em;
  border-radius: 3px;
}

.random-words {
  color: #29853a;
  cursor: pointer;
}

.errors {
  font-size: .8em;
  font-weight: 700;
  color: #ff0000;
}