.articles {
  max-width: 1000px;
  padding: 30px 0px;
  margin: auto;
  .news-header {
    color: #171717;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.article-container {
  display: flex;
  margin-bottom: 15px;
  .article-image-container {
    width: 180px;
    height: 120px;
    margin-right: 20px;
  }
  .article-image {
    display: flex;
    height: 120px;
    width: 180px;
    object-fit: cover;
    border-radius: 3px;
  }
  .article-image:hover {
    opacity: 90%;
  }
  .article-details {
    display: flex;
    flex-direction: column;
  }
  .article-source-time {
    display: flex;
    font-size: .7em;
    color: #c4c4c4;
    margin: 0px;
  }
  .article-headline {
    display: flex;
    font-size: 1.1em;
    font-weight: 700;
    color: #171717;
  }
  .article-headline:hover {
    text-decoration: underline;
  }
  .article-description {
    display: flex;
    font-size: .8em;
    color: #666666;
  }
}