.show-container {
  max-width: 800px;
  margin: auto;
  padding: 25px 0px;
  .portfolio-name {
    font-size: 2em;
    font-weight: 700;
  }
  .search-field {
    width: 300px;
  }
  .current-holdings-container h3 {
    font-size: 1.3em;
    font-weight: 700;
    padding: 25px 0px;
  }
  .current-holdings-table {
    font-size: .8em;
  }
  th {
    text-align: left;
  }
  tbody tr:nth-child(even) {
    background-color: #f7f7f7;
  }
}