.loading-container {
  margin: 25px auto;
  width: 300px;
  text-align: center;
  .spinning-radial {
    width: 150px;
  }
  .loading-verbiage {
    text-align: center;
    color: #333333;
    font-weight: 700;
  }
}

.cta-message {
  width: 500px;
  font-size: 1.25em;
  font-weight: 700;
  color: #333333;
  margin: 50px auto;
  text-align: center;
}

.show-container {
  max-width: 800px;
  margin: auto;
  padding: 25px 0px;
  position: relative;
  .name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .portfolio-name {
      display: flex;
      font-size: 2em;
      font-weight: 700;
    }
    .update-button {
      display: flex;
      font-size: .9em;
    }
  }
  .new-portfolio-name-form {
    height: 160px;
    .label-and-input {
      display: flex;
      flex-direction: column;
    }
    .new-form-label {
      padding-bottom: 5px;
      font-weight: 700;
      color: #333333;
      font-size: .9em;
    }
    #new-portfolio-input {
      display: flex;
      height: 40px;
      width: 300px;
      font-size: 1em;
    }
    .update-button {
      display: flex;
      font-size: .9em;
    }
  }
  .search-field {
    width: 350px;
  }
  .current-holdings-container {
    border-top: 1px solid #e8e8e8;
    
  }
  .current-holdings-container h3 {
    font-size: 1.3em;
    font-weight: 700;
    padding: 25px 0px 15px;
  }
  .current-holdings-table {
    width: 100%;
    font-size: .8em;
  }
  .current-holdings-table tbody {
    border: none;
  }
  tbody .holding-row {
    border-bottom: 1px solid #e8e8e8;
    background-color: transparent;
    line-height: 15px;
  }
  tbody .holding-row:hover {
    background-color: #f7f7f7;
    cursor: pointer;
  }
  .column-headers {
    background-color: #e8e8e8;
  }
}