.show-container {
  max-width: 800px;
  margin: auto;
  padding: 25px 0px;
  position: relative;
  .portfolio-name {
    font-size: 2em;
    font-weight: 700;
  }
  .search-field {
    width: 350px;
  }
  .current-holdings-container h3 {
    font-size: 1.3em;
    font-weight: 700;
    padding: 25px 0px 15px;
  }
  .current-holdings-table {
    width: 100%;
    font-size: .8em;
    border-spacing: 3px;
    border-collapse: separate;
  }
  tbody tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  tbody .holding-row:hover {
    background-color: #e4e4e4;
    cursor: pointer;
  }
  .column-headers {
    background-color: #c4c4c4;
  }
}