.no-search-container {
  display: none;
}

.search-container {
  width: 800px;
  padding: 0px 0px 25px;
}

.search-results-container {
  width: 350px;
  z-index: 2;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 20%);
  position: absolute;
  left: 0px;
  top: 158px;
}