.search-result {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
}

.search-result:last-of-type {
  border-bottom: none;
}

.search-result:hover {
  background-color: #f7f7f7;
}

.ticker {
  display: flex;
  font-size: .9em;
  font-weight: 700;
  color: #171717;
  width: 90px;
}

.name {
  display: flex;
  font-size: .7em;
  color: #666666;
  height: 14px;
}