.user-show-container {
  max-width: 500px;
  margin: 70px auto 40px;
  padding: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(63, 63, 55, 10%);
  background-color: #ffffff;
}

.user-show-header {
  font-size: 1.7em;
  font-weight: 700;
  text-align: left;
  padding: 0px 0px 10px;
  color: #171717;
}

.user-portfolio-container {
  margin: auto;
  padding: 8px 0px;
}

.user-portfolio-container a {
  text-decoration: none;
  color: #666666;
  font-weight: 400;
}
.user-portfolio-container a:hover {
  text-decoration: underline;
}