.user-show-container {
  max-width: 600px;
  margin: 0px auto 40px;
  padding-top: 30px;
}

.user-show-header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 0px 10px;
  color: #171717;
  border-bottom: 1px solid #e8e8e8;
}

.user-show-header {
  display: flex;
  font-size: 1.7em;
  font-weight: 700;
  text-align: left;
}

.user-show-header-container .button {
  display: flex;
  font-size: .8em;
  border-radius: 50px;
}

.user-show-list {
  padding-top: 20px;
}

.user-portfolio-container {
  margin: auto;
  padding-bottom: 12px;
}

.user-portfolio-container a {
  text-decoration: none;
  color: #333333;
  font-weight: 400;
}
.user-portfolio-container a:hover {
  text-decoration: underline;
}